<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row">
    {{#each items}}
     <div class="col-sm-6 col-md-4 col-lg-3 d-flex">

       <div class="card sh-3 mb-3 align-items-stretch">
         <div class="card-body">

           <div class="text-right"> <a href="{{url}}" class="btn btn-text">{{title}} &raquo;</a> </div>
           <hr>

           <h4 class="card-title lead"></h4>
           <p class="card-text small">{{text}}</p>

         </div>

         <img class="card-img-bottom border border-0 border-dark border-top-1" src="{{image}}" alt="Image">
       </div>

     </div>
   {{/each}}
  </div>
</div> <!-- /container -->
